*{
    box-sizing: border-box;
    width: 90%;

}

#mydialog div{
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #ddd;
    padding: 5px;
    border-bottom: #aaa 1px soild;

}

#mydialog h2{
    margin: 0;
    color: blue;
}

#mydialog button{
    margin: 0;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}

#mydialog p{
    padding: 10px;
    color: black;

}
::backdrop{
    background-color: rgba(255, 255, 255, 0.75) ;
}
