@media only screen and (min-width: 600px) {
    header, footer{
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
    } 
    
   header{
    display: grid;
    grid-template-columns: 30px auto auto 30px;
   } 
   

    main,.navigation{
        max-width: 900px;
        
    }

    .hamburger{
        display: none;
    }
    
    .navigation{
        
        display: block;
        border-bottom: solid 1px #ddd;
        font-weight: 700;
        
        
    }

    .navigation ul{
        display: flex;
        
    }
    .navigation a{
        border: none;
        color: #333;
        
        
    }

  
    .first-div{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1em;
      

    }
    .bigbox{
    display: grid;
    grid-template-columns: 1fr;
}
    .iconbox{
        grid-column: 1/2;
        align-self: center;
    }
    .infobox{
        grid-column: 2/3;
    }

    .index-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .8rem;
    }

    footer{
       display:grid;
       grid-template-columns: 2fr 1fr 2fr;
        
    }

    .third{
       margin-left: 2em; 
    }

    .join-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .designOne{
        grid-column: 1/2;
    }

    #membership-container{
        grid-column: 2/3;
    }

   
}