@media only screen and (min-width: 641px) {

    #place-container{
        display: grid;
        justify-items: center;
    }
    #place-container section{
        border: 1px solid #ddd;
        margin: 1rem;
        display: grid;
        grid-template-areas:
        "name name"
        "photo description"
        "photo address"
        "button button"
        ;
    }

    #place-container section h2{
        grid-area: name;
    }
    #place-container section figure{
        grid-area: photo;
        width: 300px;
        height: 200px;
        overflow: hidden;
    }

     #place-container section figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
     }
    
    #place-container section address{
        grid-area: address;
    }
    #place-container section p{
        grid-area: description;
    }
    #place-container section button{
        grid-area: button;
    }

}