*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer{
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, header, footer {
    font-family: Amaranth, sans-serif;
}
/* header */
header{
    display: grid;
    grid-template-columns: 30px auto 25px 44px;
    align-items: center;
    padding-left: 10px;
    color: green; 
    box-shadow: 1px 1px 4px #999;
    
}


header img{
    display: block;
    width: 100%;
    height: auto;
    
}


 h1{

    font-size: 1.3rem;
    text-align: left;
    margin-left: 25px;
    
 }

/* navigation */
.hamburger{
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 1.5rem;
    font-family: roboto;
    font-weight: 900;
}

.hamburger.show::before{
    content: "\00D7";
    grid-row: 2/3;
    font-size: 2rem;
    font-family: roboto;
    font-weight: 900;

}

.navigation{
    display: none;
}

.navigation.show{
    display: block;
    text-align:left;
    grid-row: 2/3;
    grid-column: 1/4;
    font-weight: 700;
    
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a{
    display: block;
    padding:.8rem 30px ;
    border-bottom: solid 1px #ddd;
    color: black;
   
    text-decoration: none;
}

.navigation a:hover,
.hamburger:hover{
    background-color: yellow;
}

.navigation .current{
    border: 1px solid #333;
}

/* **button** */
.btn-primary{
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    box-shadow: 1px 1px 4px #999;
}

/* index-main */



.index-main {

    text-align: left;
    line-height: 1.8rem;
  
}

.first-div, 
.index-main h2{
    margin-top: 2em;
}


.first-div h3{
    color: green;
    background-color: white;
    padding: .6em;
    border: 3px solid #333;
    border-radius: .4em;
}

.index-main h3{
    font-family: Amaranth;
}


.index-main h2:nth-of-type(1){
    text-align: left;
}

.index-section{
    background-color: #ddd;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    font-size: .9rem;
                
    
}

.head{
    grid-column: 1/3;
    grid-row:1/2;
    border: 3px solid #333;
    border-radius: .4em;
    margin-top: 0;
    padding-top: .8rem;

} 
.head h3, 
.head p{
    text-align: center;
    color: green;
    background-color: white;  
}
    

.photo{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 .8rem 0 .8rem ;
}
.photo img{
    max-width: 160px;
    height: auto;
    margin: 0;
    margin-top: .9em;
}
.detail{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    font-size: .8rem;
    word-break: break-word;

}

/* .joint{
    background-color: #ddd;
    padding: 1rem;
    
      
} */

.weather p:nth-of-type(1){
    margin-top: 1rem;
}

.index-main ul,
.weather ul {
    text-align: left;
    line-height: 2rem;
    padding: 1rem;
}


/* /* CTA */

aside{
   position: relative;
}

.heroimage{
    
    width: 100%;
    height: auto;
   
}
aside a{
    position: absolute;
    
    left: 70%;
    top: 70%;
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 1em
}

aside a:hover{
    background-color: black;
    border: 1px solid #333;
}

/* DIRECTORY MAIN */

.grid{
display: grid;
grid-gap: 0.5rem;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.directory-section{  
background-color: #ddd;
width: 100%;
height: 100%;
font-size: .9rem;
padding: 15px;
word-break: break-word;
}

.grid section img{
    width: 150px;
    height:auto;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
 }

 .menu{
    background-color: green;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: .7em;
 }

.menu button {
    background-color: white ;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

.menu button:hover{
    background-color: yellow;
}

.grid section {
  text-align: center;
}


.list section {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  gap: 1em;
  margin: 0;
  text-align: left;
  padding: 1rem;
  font-size: .8rem;
}

.list section img {
  display: none;
}

.list section:nth-child(even) {
  background-color: #bbb;
}


/* footer */
footer{
    background-color: #333;
    color: white;
    margin-top: 2em;
    display:grid;
    row-gap: 25px;
    text-align: left;
    line-height: 1.7em;
    font-size: 1em;

}


.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
 }

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border: 1.5px solid rgb(71, 26, 26);
    border-radius: 5em;
    background-color: #ddd;
    

}


.social a:hover{
    background-color:yellow;
}

.first a{
    
    color: yellow;
    font-weight: 900;
}
footer .first a:hover{
   color: white;
}

/* join */

.join-main h2{
    background-color: #ddd;
    color: #333;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;

}
.designOne >label{
    display: block;
    padding-top: 1rem;
    color: green;
    font-size: .9rem;
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 600;
    
    
    
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="hidden"],
select,
textarea
{
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    /* appearance: none; this over writes the default browser styling */
    appearance: none;
}


input:required{
    border-left:solid 5px red;
}

input:required:valid{
    border-left:solid 5px green;

}

.btn-primary:hover, #membership-container a:hover{
    color: black;
    background-color: white;
}

@keyframes fadein{
    0%{
        background-color: rgb(159, 187, 159);
    }
    100%{
        background-color: #ddd;
    }
}

#membership-container section{
    background-color: #ddd;
    padding: 2rem;
    margin: 2rem;
    color: #333;
    text-align: center;
    animation: fadein 2s ease-in 1s ;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
         
    
}
#membership-container dialog{

    padding: 2rem;
    margin: 2rem  auto;

}
#membership-container a{
    text-decoration: none;
    color:#9c2c13;     
    background-color: white;              
}

::backdrop{
    background-color:rgba(223,128,0,0.2) ;
}

/* ***thankyou page */
#result{
    line-height: 1.6rem;
    border:1px solid #333;
    background-color: #ddd;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    height: auto;
    
}
#result span{
    text-align: center;
    color: #9c2c13;
    background-color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Amaranth;
    margin-bottom: 3rem;
    padding: .5rem;
}
#result  p{
    font-size: 1rem;
    color: green;
    text-align: left;
}

/* ***Discover** */


    .discover-main span{
        font-size: 1.4rem;
        font-weight: 700;
        border-bottom: 3px solid yellow;
    }
    #place-container{
    display: grid;
    justify-self: center;

    }
      

    #place-container section{
        margin: 1rem ;
        display: grid;
        grid-template-areas:
        "name"
        "photo"
        "description"
        "address"
        "button"
        ;
        background-color: #ddd;
        border: 1px solid yellow;
        border-radius: 1rem;
        box-shadow: 1px 1px 4px #999;
        line-height: 1.7rem;
        overflow: hidden
    }

    #place-container section h2{
        grid-area: name;
        padding: 1rem;
        box-shadow: 1px 1px 4px #999;
        font-weight: 200;
        
    }
    #place-container section figure{
        grid-area: photo;
        
    }
     #place-container section figure img{
        width: 100%;
        height: 200px;
        overflow: hidden;
        object-fit: cover;
    }
   


    #place-container section address{
        grid-area: address;
        font-size: 1.1rem;
    }
    #place-container section p{
        grid-area: description;
        padding: 1rem;
        font-size: 1.1rem;
    }
    #place-container section button{
        grid-area: button;
        font-size: 1.1rem;
        padding:7px;
        margin: 10px;
        border-radius: 3rem;
        background-image: linear-gradient(#9c2c13, #6f200e);
        color: white;
       

    }

     #place-container section button:hover{
        color: yellow;
     }





