@media only screen and (min-width: 641px) {
    header, main, footer{
        max-width: 641px;
        margin: 0 auto;
        padding: 10px;
    } 
    
   header{
    display: grid;
    grid-template-columns: 30px auto auto 30px;
   } 
   


    .hamburger{
        display: none;
    }
    
    .navigation{
        
        display: block;
        border-bottom: solid 1px #ddd;
        font-weight: 700;
        
        
    }

    .navigation ul{
        display: flex;
        
    }
    .navigation a{
        border: none;
        color: #333;
        
        
    }
    #place-container{
        display: grid;
        justify-items: center;
    }
    #place-container section{
        border: 1px solid #ddd;
        margin: 1rem;
        display: grid;
        grid-template-areas:
        "name name"
        "photo description"
        "photo address"
        "button button"
        ;
    }

    #place-container section h2{
        grid-area: name;
    }
    #place-container section figure{
        grid-area: photo;
        width: 300px;
        height: 200px;
        overflow: hidden;
    }

     #place-container section figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
     }
    
    #place-container section figure img:hover{
        transform: scaleX(-1);
    }
    #place-container section address{
        grid-area: address;
    }
    #place-container section p{
        grid-area: description;
    }
    #place-container section button{
        grid-area: button;
    }

}