@media only screen and (min-width: 600px) {
    header, footer{
        max-width: 1200px;
        margin: 0 auto;
    } 
    
    header{
    display: grid;
    grid-template-columns: 30px auto auto 24px;
    align-items: center;
    padding-left: 10px;
    color: green;
    margin-bottom:0 ;
}

    main,.navigation{
        max-width: 900px;
        margin: 0 auto;
    }

    .hamburger{
        display: none;
    }
    
    .navigation{
        
        display: block;
        border-bottom: solid 1px #ddd;
        
        
    }

    .navigation ul{
        display: flex;
        
    }
    .navigation a{
        border: none;
        color: #333;
        
        
    }

    footer{
       display:grid;
       grid-template-columns: 2fr 1fr 2fr;
      
        
    }
   
}