*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer{
    min-width: 320px;
    max-width: 599px;
    text-align: center;
    padding: 15px;
}
/* header */
header{
    display: grid;
    grid-template-columns: 30px auto 24px 44px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-left: 10px;
    color: green;
    margin-bottom:0 ;
    
}


header img{
    display: block;
    width: 100%;
    height: auto;
}
header img:first-child{
    background-color:green;
    
}
.hamburger{
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 1.5rem;
    font-family: roboto;
    font-weight: 900;
}

.hamburger.show::before{
    content: "\00D7";
    grid-row: 2/3;
    font-size: 2rem;
    font-family: roboto;
    font-weight: 900;

}
 h1{

    font-size: 1.3rem;
    text-align: left;
    margin-left: 25px;
 }





/* navigation */
.navigation{
    display: none;
    
    
}


.navigation.show{
    display: block;
    text-align:left;
    margin: 0;
    margin-top: 0;
    grid-row: 2/3;
    grid-column: 1/4;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a{
    display: block;
    padding:.8rem 30px ;
    border-bottom: solid 1px #ddd;
   
    text-decoration: none;
}

.navigation a:hover, button:hover{
    background-color: yellow;
}

.navigation .current{
    background-color:#ddd ;
}



/* main */

h3 {
	font-size: 1.2rem;
}

h1, h2{
    font-family: Amaranth;
}
h2{
    background-color: yellow;
}
p{
    font-family: roboto;  
   
}




/* making a list and grid layout for the sections */




section{
background-color: #ddd;
max-width: 30rem;
width: 100%;
height: 100%;
font-size: .9rem;
padding: 5px;
box-shadow: 0 0 1rem #555;

}
 section>img{
    width: 150px;
    height:75px;
    margin: 0 auto;
 }

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: green;
	text-align: center;

	button {
		padding: 0.5rem 1rem;
		font-weight: 700;
	}
}


.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;

	section {
		text-align: center;
		& > * {
			margin: 0.1rem;
		}
	}

	img {
    
		border: 1px solid #fff;
		box-shadow: 0 0 1rem #555;
	}
}



.list {
	display: flex;
	flex-direction: column;
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

	section {
		display: grid;
		grid-template-columns: 1fr 1fr auto 1fr ;
		margin: 0;
        text-align: left;
		padding: 0.25rem;
        font-size: 1rem;

		& > * {
			margin: 0 1rem;
		}

		img {
			display: none;
		}

		h2 {
			font-size: 1rem;
		}

		&:nth-child(even) {
			background-color: #bbb;
		}
	}
}




/* footer */
footer{
    background-color: #333;
    color: white;
    margin-top: 2em;
    vertical-align: center;
    display:grid;
    row-gap: 25px;
    text-align: left;

}
.first a{
    background-color: white;
    color: green;
    font-weight: 900;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
 }

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border: 1.5px solid rgb(71, 26, 26);
    border-radius: 5em;
    background-color: #ddd;
    

}

.social img{
    width: 2em;
    height: 2em;
}

.social a:hover{
    background-color:rgb(71, 26, 26) ;
}
