*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer{
    min-width: 320px;
    max-width: 599px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}
/* header */
header{
    display: grid;
    grid-template-columns: 30px auto 25px 44px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-left: 10px;
    color: green; 
    font-family: Amaranth;
}


header img{
    display: block;
    width: 100%;
    height: auto;
}

.hamburger{
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 1.5rem;
    font-family: roboto;
    font-weight: 900;
}

.hamburger.show::before{
    content: "\00D7";
    grid-row: 2/3;
    font-size: 2rem;
    font-family: roboto;
    font-weight: 900;

}
 h1{

    font-size: 1.3rem;
    text-align: left;
    margin-left: 25px;
    border-bottom: 1px solid #333;
 }





/* navigation */
.navigation{
    display: none;
    
    
}


.navigation.show{
    display: block;
    text-align:left;
    margin: 0;
    margin-top: 0;
    grid-row: 2/3;
    grid-column: 1/4;
    font-weight: 700;
    
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a{
    display: block;
    padding:.8rem 30px ;
    border-bottom: solid 1px #ddd;
    color: black;
   
    text-decoration: none;
}

.navigation a:hover,.hamburger:hover{
    background-color: yellow;
}

.navigation .current{
    border: 1px solid #333;
}

/* index-main */



.index-main {
    font-family: Roboto;
    text-align: left;
    line-height: 1.8rem;
  
}

.first-div, .index-main h2{
    margin-top: 2em;
}


.first-div h3{
    color: green;
    background-color: white;
    padding: .6em;
    border: 3px solid #333;
    border-radius: .4em;
}

.index-main h3{
    font-family: Amaranth;
}


.index-main h2:nth-of-type(1){
    text-align: left;
}

.index-section{
    background-color: #ddd;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    font-size: .9rem;
                
    
}

.head{
    grid-column: 1/3;
    grid-row:1/2;
    border: 3px solid #333;
    border-radius: .4em;
    margin-top: 0;
    padding-top: .8rem;

} 
.head h3, .head p{
    text-align: center;
    color: green;
    background-color: white;
    
         
  
    
}
    

.photo{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 .8rem 0 .8rem ;
}
.photo img{
    max-width: 160px;
    height: auto;
    width:100%;
    margin: 0;
    margin-top: .9em;
}
.detail{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    font-size: .8rem;
    word-break: break-word;

}

.joint{
    background-color: #ddd;
    padding: 1rem;
    
      
}

.weather p:nth-of-type(1){
    margin-top: 1rem;
}

ul{
    text-align: left;
    line-height: 2rem;
    padding: 1rem;
}


/* /* CTA */

aside{
   position: relative;
}

.heroimage{
    
    width: 100%;
    height: auto;
   
}
aside a{
    position: absolute;
    
    left: 70%;
    top: 70%;
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 1em
}

aside a:hover{
    background-color: black;
    border: 1px solid #333;
}

/* DIRECTORY MAIN */

.grid{
font-family: roboto;
display: grid;
grid-gap: 0.5rem;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.directory-section{
font-family: roboto;  
background-color: #ddd;
width: 100%;
height: 100%;
font-size: .9rem;
padding: 15px;
word-break: break-word;
}

.grid section img{
    width: 150px;
    height:auto;
    margin: 0 auto;
 }

 .menu{
    background-color: green;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: .7em;
 }

.menu button {
    background-color: white ;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

.menu button:hover{
    background-color: yellow;
}

.grid section {
  text-align: center;
}


.list section {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  gap: 1em;
  margin: 0;
  text-align: left;
  padding: 1rem;
  font-size: .8rem;
}

.list section img {
  display: none;
}

.list section:nth-child(even) {
  background-color: #bbb;
}





/* footer */
footer{
    background-color: #333;
    color: white;
    margin-top: 2em;
    vertical-align: center;
    display:grid;
    row-gap: 25px;
    text-align: left;
    line-height: 1.7em;
    font-family: Amaranth;
    font-size: 1em;

}


.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
 }

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border: 1.5px solid rgb(71, 26, 26);
    border-radius: 5em;
    background-color: #ddd;
    

}


.social a:hover{
    background-color:yellow;
}

.first a{
    
    color: yellow;
    font-weight: 900;
}
footer .first a:hover{
   color: white;
}