*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer{
    min-width: 320px;
    max-width: 599px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}
/* header */
header{
    display: grid;
    grid-template-columns: 30px auto 25px 44px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-left: 10px;
    color: green; 
    font-family: Amaranth;
}


header img{
    display: block;
    width: 100%;
    height: auto;
}

.hamburger{
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 1.5rem;
    font-family: roboto;
    font-weight: 900;
}

.hamburger.show::before{
    content: "\00D7";
    grid-row: 2/3;
    font-size: 2rem;
    font-family: roboto;
    font-weight: 900;

}
 h1{

    font-size: 1.3rem;
    text-align: left;
    margin-left: 25px;
    border-bottom: 1px solid #333;
 }

 /* navigation */
.navigation{
    display: none;
    
    
}


.navigation.show{
    display: block;
    text-align:left;
    margin: 0;
    margin-top: 0;
    grid-row: 2/3;
    grid-column: 1/4;
    font-weight: 700;
    
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a{
    display: block;
    padding:.8rem 30px ;
    border-bottom: solid 1px #ddd;
   
    text-decoration: none;
}

.navigation a:hover, button:hover{
    background-color: yellow;
}

.navigation .current{
    background-color:#ddd ;
}
/* main */

.hero-image{
    width: 100%;
    height: auto;
}
.inner{
    background-color: #ddd;
    margin-top: 2em;

}
p{
    padding: .3em;
    font-family: Roboto;
}

.first-div h3{
    background-color: #333;
    color: white;
    padding: .6em;
}

h3{
    font-family: Amaranth;
}


main h2:nth-of-type(1){
    text-align: left;
}

section{
    background-color: #ddd;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    font-size: .9rem;
    padding: .9em;
    
}

.head{
    grid-column: 1/3;
    grid-row:1/2;
    text-align: center;
    border-bottom: 1px solid #333;
    margin-left: .9em;
    margin-right: .9em;
}
.photo{
    grid-column: 1/2;
    grid-row: 2/3;
}
.photo img{
    max-width: 150px;
    width:80%;
    height:85px;
    margin: 0;
    margin-top: .9em;
}
.detail{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    margin-top: .9em;

}

.joint{
    background-color: #ddd;
    margin-bottom: 2em
}

/* footer */
footer{
    background-color: #333;
    color: white;
    margin-top: 2em;
    vertical-align: center;
    display:grid;
    row-gap: 25px;
    text-align: left;
    line-height: 1.7em;
    font-family: Amaranth;
    font-size: 1em;

}


.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
 }

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border: 1.5px solid rgb(71, 26, 26);
    border-radius: 5em;
    background-color: #ddd;
    

}

.social img{
    width: 2em;
    height: 2em;
}

.social a:hover{
    background-color:yellow;
}

.first a{
    
    color: yellow;
    font-weight: 900;
}
footer .first a:hover{
   color: white;
}