*{box-sizing:border-box}

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}
header span{
    font-size: 1.3rem;
    color: rgb(71, 26, 26);
}

.hamburger{
    background: none;
    border: none;
    color: rgb(71, 26, 26); 
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2rem;

}
/* navigation */
.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a{
    display: block;
    padding:.8rem 30px ;
    border-bottom: solid 1px #ddd;
    color: rgb(71, 26, 26);
    text-decoration: none;
}

.navigation a:hover{
    background-color: darkorange;
}

.navigation .current{
    background-color: #ddd;
}

 h1{
    margin-left: 10px;
    color: rgb(71, 26, 26);
 }

 /* main */
 
main{
    color: rgb(71, 26, 26);
    padding: 0 10px;
}

.part h2{
    background-color: darkorange;
    text-align: center;
    border-radius: 4px;
    padding-top: 2px;

}
.part{
    background-color: #ddd;
    width: 100%;
    height: auto;
    margin-top: 3em;


}

.part p{
    vertical-align: center;
    padding: 12px;
    line-height: 29px;
    font-size: 1.2em;
}
.second{
    height: 320px;
}

.part img{
    display: flex;
    justify-self: center;
    height: 250px;
}

.third{
    height: auto;
    text-align: center;
}
.button-class{
   display: flex;
   justify-content: space-around;
   height: 70px;
  
   
}
.button{
    background-color: rgb(71, 26, 26) ;
    color: #ddd;
    border-radius: 1em;
    height: 50px;
}

button:hover{
    background-color: darkorange;
}

button:active{
    background-color: #ddd;
    color:  rgb(71, 26, 26);

}

.second-div {
    
    margin: 2em 2em 0 2em;
    border: 1px solid rgb(71, 26, 26);
    border-radius: 6px;
    

}


.completed{
    background-color: darkorange;
}





 /* footer */

 footer{
    margin-top: 5em;
    color: black;
    padding: 1rem 10px;
    text-align: center;
    border-top: 3px solid darkorange;
    background-color: slategray;
    font-size: 1.2em;
 }

 .social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
 }

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1.5px solid rgb(71, 26, 26);
    border-radius: 20px;
    background-color: #ddd;
    

}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color:rgb(71, 26, 26) ;
}


