@media only screen and (min-width: 600px){
    header, main,.navigation, footer{
        max-width: 1200px;
        margin: 0 auto;
    } 

    header{
        grid-template-columns: 24px auto;
    }

    .hamburger{
        display: none;
    }
    .navigation{
        display: block;
        border-bottom: solid 1px #ddd;
    }

    .navigation ul{
        display: flex;
        
    }
    .navigation a{
        border: none;
        
    }

    .grouping{
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 10px;
    }

    .part h2{
        padding: 5px;
        margin: 0;
        height: auto;
        border-radius: 0;
    
    }

    .second{
        height: auto;
    }

    .second img{
        display: flex;
        justify-content: center;
        max-width: 80%;
        margin: 2em;
        height: auto;
        
    }
    

    .third{
        grid-column: 1/3;
    }

    #first-container {
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    

    .button-class{
        display: flex;
        margin-top: 2em;
        gap: 2em;
        padding: 0 2em;
        
    }

    .button{
        width: 15em;
    }

    

}