*{box-sizing:border-box}

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
   
}
header, .navigation{
    font-family: Amaranth,Verdana;
    font-weight: 700;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}
header span{
    font-size: 1.3rem;
    color: rgb(71, 26, 26);
}

.hamburger{
    background: none;
    border: none;
    color: rgb(71, 26, 26); 
    cursor: pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 1.5rem;
    font-family: roboto;
    font-weight: 900;
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2rem;
    font-family: roboto;
    font-weight: 900;

}
/* navigation */
.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a{
    display: block;
    padding:.8rem 30px ;
    border-bottom: solid 1px #ddd;
    color: rgb(71, 26, 26);
    text-decoration: none;
}

.navigation a:hover{
    background-color: darkorange;
}

.navigation .current{
    background-color:#ddd ;
}

 h1{
    margin-left: 10px;
    color: rgb(71, 26, 26);
    font-family: Amaranth;
    text-align: left;
 }

 /* main */
 
main{
    color: rgb(71, 26, 26);
    padding: 0 10px;
    text-align: center;
    font-family: roboto;

}



.part h2{
    background-color: darkorange;
    text-align: center;
    border-radius: 4px;
    padding-top: 2px;
    font-family: Amaranth;

}
.part{
    background-color: #ddd;
    width: 100%;
    height: auto;
    margin-top: 3em;


}

.part p{
    
    padding: 12px;
    line-height: 29px;
    font-size: 1.2em;
    font-family: roboto;
}
.first p{
    text-align: left;
}
.second{
    
    height: auto;
    
}

.part img{
    padding: 0 0 1em 0;
    width: 80%;
    height: auto;
    margin-top: 1em;
}

.third{
    background-color: white;
    height: auto;
    text-align: center;
    
}
.button-class{
   display: flex;
   justify-content: space-around;
   height: 70px;
  
   
}
.button{
    background-color: rgb(71, 26, 26) ;
    color: #ddd;
    border-radius: 1em;
    height: 50px;
    font-family: roboto;
}

button:hover{
    background-color: darkorange;
}

button:active{
    background-color: #ddd;
    color:  rgb(71, 26, 26);

}

.second-div {
    
    margin: 2em 2em 0 2em;
    border: 1px solid rgb(71, 26, 26);
    border-radius: 6px;
    

}


.completed{
    background-color: darkorange;
}






 /* footer */

 footer{
    color: black;
    padding: 1rem 10px;
    text-align: center;
    font-size: 1.2em;
    font-family: roboto;

 }

 .social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
 }

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border: 1.5px solid rgb(71, 26, 26);
    border-radius: 5em;
    background-color: #ddd;
    

}

.social img{
    width: 2em;
    height: 2em;
}

.social a:hover{
    background-color:rgb(71, 26, 26) ;
}

.footer-p{
    padding: 1em;
    background-color: slategray;
    margin-top: 1em;
    line-height: .8em;
}


