@media only screen and (min-width: 600px){
    header, main, nav, footer{
    max-width: 1200px;
   
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
}

    .hamburger{
        display: none;
    }
    
    .navigation{
        
        display: block;
        border-bottom: solid 1px #ddd;
        font-weight: 700;   
    }

    .navigation ul{
        display: flex;
        
    }
    .navigation a{
        display: block;
        border: none;
        color: #333;
        
        
    }

}