@media only screen and (min-width: 600px){
    header, main, nav, footer{
    max-width: 1200px;
    
   
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
}

    .hamburger{
        display: none;
    }
    
    .navigation{
        
        display: block;
        border-bottom: solid 1px #ddd;
        font-weight: 700;   
    }

    .navigation ul{
        display: flex;
        
    }
    .navigation a{
        display: block;
        border: none;
        color: #333;
        
        
    }
    /* **************************About US******************************* */

    .aboutus-main{
        display: grid;
        grid-template-areas:
        "aboutus comments";
        gap: .8rem;
    }

    .about-us{
        grid-area: aboutus;
    }
    .comments{
        grid-area: comments;
    }
    /* *****************************HomePAge************************************ */
    .second-div{
        display: grid;
        grid-template-areas:
        "offer events";
        gap: .8rem;
    }

    .offer{
        grid-area: offer;
    }
    .events{
        grid-area: events;
    }

    /* **********************************APPLYPAGE************************************ */
    .apply-main{
        max-width: 900px;
        margin-top: 2rem;
    }
    .designOne{
        display: grid;
        justify-content: center;
    }
    

}